.MainSidebar {
  background-color: beige;
  /* padding: 1rem 1rem 1rem 1rem; */
}

.search-bar-container {
  margin: auto auto;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  width: auto;
  /* padding: 1px 20px; */
  margin: 1rem 1rem;
  /* padding: 5px 5px; */
}

.search-bar-container > .search-bar {
  border-radius: 10px;
  border: none;
  background: transparent;
  font-size: 1.2rem;
}
h2 {
  margin: 1rem;
}

.group-title {
  padding: 5px 10px;
}

.display {
  display: none;
}
