* {
  margin: 0;
}

.App {
  display: flex;
  background-color: transparent;
}
.app__body {
  display: flex;
}
.Sidebar {
  position: relative;
}
.hide {
  position: absolute;
  left: 35%;
  font-size: 1rem;
}

.Sidebar > .MuiSvgIcon-root {
  font-size: 1.8rem;
  border: 2px solid black;
  border-radius: 1.1rem;
}

.Sidebar {
  flex: 0.07;
  background-color: azure;
  text-align: center;
  height: 100vh;
  scroll-behavior: auto;
  min-width: 100px;
}

.MainSidebar {
  flex: 0.25;
  max-width: 400px;
  min-width: 300px;
}

.NewsFeed {
  flex: 1;
  min-width: 900px;
}
